body {
    background-image: url("https://www.tokkoro.com/picsup/1148255-vineyard.jpg");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: '#777';
    background: '#777';
    width: '960px';
    font-size: '18px';
}
#header {
    text-align: center;
    height: 35px;
    top: 0;
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: #333;
    color: white
    overflow: hidden;
}
.topnav a {
    float: left;
    color: darkgray;
    background-color: rgb(43, 5, 5);
    text-align: center;
    padding: 14px 16px;
    margin-bottom: 50px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color; black;
    color: white;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;    
}
#header, .nav, .section, .aside, .footer {
     background-color: #ebebeb;
}
.content {
    clear: both;
    width: 990px;
    margin: auto;
}
/* Article */
.section {
    float: left;
    width: 495px;
    height: 350px;
}
.section h2, h3 {
    text-align: center;
    padding-top: 20px;
}
.section p {
    flex-wrap: wrap;
    padding: 20px;
}
/* Picture */
.aside {
    float: left;
    width: 495px;
    height: 350px;
    text-align: right;
}
.aside img {
    width: 300px;
    height: 350px;
}
.footer {
    height: 35px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    width: 100%;
}
.footer p {
    text-align: left;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
